<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Caja popular</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" th:href="@{/css/style.css}">

<!-- se incluyeron -->
<link rel="stylesheet" th:href="@{/web_files/style.css}"> 
<!-- FUENTES -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet">
<!-- NOTIFICACIONES FB -->
<link th:href="@{/web_files/FB_Notifications.css}" rel="stylesheet"> 
<link th:href="@{/web_files/jquery-ui.css}" rel="stylesheet">
<link th:href="@{/web_files/styleSlider.css}" rel="stylesheet">
<link th:href="@{/web_files/NavSolicitudes.css}" rel="stylesheet">
<link th:href="@{/web_files/footable.core.css}" rel="stylesheet">
<link th:href="@{/web_files/footableStyle.css}" rel="stylesheet">
<link th:href="@{/web_files/Skeleton.css}" rel="stylesheet">
<link th:href="@{/web_files/StyleFAQ.css}" rel="stylesheet">
<link th:href="@{/web_files/CubeLoader.css}" rel="stylesheet">
<link th:href="@{/web_files/sweet-alert.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<!-- SCRIPTS---------------------------------------------------------- -->
<script th:src="@{/web_files/jquery-2.1.4.js}"></script>
<script th:src="@{/web_files/moment.min.js}"></script>
<script th:src="@{/web_files/jquery.cookie.js}"></script>
<script th:src="@{/web_files/jquery.menu-aim.js}"></script>
<script th:src="@{/web_files/jquery.nicescroll.js}"></script>
<script th:src="@{/web_files/modernizr.js}"></script> <!-- Modernizr -->
<script th:src="@{/web_files/jquery.base64.js}"></script>
<script th:src="@{/web_files/spin.js}"></script><style type="text/css"></style>

<script th:src="@{/web_files/FAQ.js}"></script>
<script th:src="@{/web_files/sweetalert_versus.js}"></script>

<script th:src="@{/web_files/utilities.js}"></script>
<!-- se termina de incluir -->
<script type="text/javascript" th:src="@{/js/huelladigitaljr.js}"></script>
<script type="text/javascript" th:src="@{/js/formLogin.js}"></script>
<script th:src="@{/web_files/sweetalert_versus.js}"></script>

<script th:src="@{/web_files/utilities.js}"></script>
<script type="text/javascript">
	
	function GetDataFromServer() {
		fAlertSending();
		$.ajax({
            type: "POST",
            url:  "http://localhost:8082/Cajas/ajax_/getDataFichas",
            data: '{ "id" : 1 }',
            contentType: "application/json; charset=utf-8",  
            dataType: "json",
            success: function (response) {
				alert("regreso el valor de: " + response);
				//fAlertTerminado();
                //swal.close();
                //fAlertMsg('¡Listo!', 'La pagina de Cargo Correctamente', 'sucess',true);
				swal("La pagina se cargo correctamente");
            },
            error: function (response) {
            	alert("error : " + response );
            }
        });

	}
</script>
</head>
<body>

	<div class="wrapper d-flex align-items-stretch">


		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5">

			<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
			<form name="form" th:action="@{/login}" method="POST"
				th:object="${login}">
				<div th:object="${login}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
					</ul>
				</div>
				
				<div th:if="${login.ntries != 0}" th:remove="tag">
					<ul th:if="${login.ntries != 0}" class="alert alert-danger"
						role="alert">
						<li th:if="${login.ntries != 0}" th:text="${login.mensaje}"></li>
					</ul>
				</div>
				
				<table WIDTH="50%" style="margin: 0 auto;">
					<tr>
						<td align="center"><img th:src="@{/images/login.png}" 
							width="120" height="120"><br> <img
							th:src="@{/images/cajapopular.png}" width="100" height="35">
						</td>
					</tr>
					<tr>
						<td align="center">

							<div th:if="${param.error}">
								<span class="text-danger">Usuario / Password incorrectos!</span>
							</div>
							Usuario:<br> <input type="text" name="ue" id="ue" ><br>
							Contraseña Actual:<br> <input type="password" name="sPwd" id="sPwd" ><br>
							Nueva Contraseña:<br> <input type="password" name="sPwdNueva" id="sPwdNueva" ><br>
							Confirmar Contraseña:<br> <input type="password" name="sPwdConfirmar" id="sPwdConfirmar" ><br>
							
							 <input name="submit"
							type="submit" value="Cambiar Contraseña">
							<input name="submit"
							type="button" value="Cerrar">
						<td>
					</tr>

				</table>
				
				
			</form>
		</div>


	</div>
</body>
</html>