﻿.fluid {
overflow: hidden;
margin-top: 49px;
height: 40px;
position: absolute;
width: 100%;
z-index: 1;
box-shadow: 0px 0px 50px 1px rgba(14,51,131,1);
}
header.header {
    background: #FFF;
    padding: 10px;
 
}

.fontaw {
    position: absolute;
    top: 13px;
}

.panelNotif, .panelpend, .panelalert, .panelinfo {
  position: absolute;
  top: 90px;
  right: 5px;
  display: none;
  background: #FFF;
  border: 1px solid #111111;
  -moz-border-radius-topright: 20px;
  /* -webkit-border-top-left-radius: 20px; */
  -moz-border-radius-bottomright: 20px;
  /* -webkit-border-bottom-left-radius: 20px; */
  width: 450px;
  height: auto;
  filter: alpha(opacity=85);
  opacity: 1;
  z-index: 9999;
  MIN-HEIGHT: 450px;
}

.notif ul, .notifpend ul, .notifalert ul, .notifinfo ul {
  list-style-type: none;
  color: #103184;
  font-family: "Open Sans", sans-serif;
  padding:10px;

}
.NotifIcon {
padding:15px;
}

.notif h3, .notifpend h3, .notifalert h3, .notifinfo h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    top: -14px;
    position: relative;
}

.notif li img, .notifpend li img, .notifalert li img, .notifinfo li img {
  float: left;
  margin: 10px;
  width: 60px;
}
 
.notif li p, .notifpend li p, .notifalert li p, .notifinfo li p {
    font-family: "Open Sans", sans-serif;
    margin-left: 50px;
    color: #103184;
    margin-right: 10px;
    font-size: 12px;
    position: relative;
    top: -15px;
}
.FB_No_Solicitud
{
color:#7A9F34;
font-size:16px;

}

.notif li, .notifpend li, .notifalert li, .notifinfo li {
  overflow: hidden;
  width: 100%;
  padding:10px;
  margin-bottom: 5px;
      border: 1px solid #e5e5e5;
}

.notif .unread
{
color:#3F3F3F;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7a9f34+0,ffffff+91,ffffff+95,7a9f34+100&0.24+89,1+93 */
background: -moz-linear-gradient(top,  rgba(122,159,52,0.24) 0%, rgba(252,253,251,0.24) 89%, rgba(255,255,255,0.62) 91%, rgba(255,255,255,1) 93%, rgba(255,255,255,1) 95%, rgba(122,159,52,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(122,159,52,0.24) 0%,rgba(252,253,251,0.24) 89%,rgba(255,255,255,0.62) 91%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 95%,rgba(122,159,52,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(122,159,52,0.24) 0%,rgba(252,253,251,0.24) 89%,rgba(255,255,255,0.62) 91%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 95%,rgba(122,159,52,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d7a9f34', endColorstr='#7a9f34',GradientType=0 ); /* IE6-9 */


}

.notif .unread p
{
color:#3F3F3F
}
.notif .unread p.time
{
color:#3F3F3F
}

.notif li p.time {
  color: Green;
  margin-bottom: 0px;
}

.PanelHeaderG{
    background-color: #7A9F34 !important;
    border-radius: 0px;
    color: #fff;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;

}
.PanelHeaderR{
    background-color: #FF1821 !important;
    border-radius: 0px;
    color: #fff;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;

}
.PanelHeaderY{
    background-color: rgba(236, 236, 91, 1) !important;
    border-radius: 0px;
    color: #103184;
    height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 10px;

}

.notif hr, .notifpend hr, .notifalert hr, .notifinfo hr {
margin: 0px;
}
 
.notif li:hover *, .notifpend li:hover *, .notifalert li:hover *, .notifinfo li:hover *
{
  /*background: #eee;*/

         background:#E5E5E5;

  cursor: pointer;
}

.notif li:hover, .notifpend li:hover, .notifalert li:hover, .notifinfo li:hover
{
 background:#E5E5E5;

  cursor: pointer;
}
.notif li:hover p.time
{
  color: Green;
}




.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

h1.logo {
  font-size: 12px;
}
section.notification {
  float: right;
  display:none;
}
section.notification li {
  list-style: none;
  padding: 10px 30px;
  margin:4px 2px 0px 0px;
  float: left;
  cursor: pointer;  
  display: inline-block;
  background-size: contain;
    height: 20px;
    color:#103184;

}

section.notification li:after {
  content: attr(data-count);
  font-size: 11px;
  background: #FF1821;
  color: #fff;
  z-index: 1;
  font-weight: 600;
  padding: 4px 5px 4px 5px;
  box-shadow: -1px 2px 3px rgba(0,0,0,.3), inset 0 2px 5px rgba(225,225,225,.3);
  position: relative;
  top: -16px;
  left: 7px;
}
.main {
	height: auto;
	min-height: 100%;
	position: relative;
}

.breadcrumbs {
  width: 100%;
  background: #eee;
background-image: -moz-linear-gradient(top, #eee, #fff);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #fff));
  padding: 10px 15px;
  box-shadow: 0 -2px 10px rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.2);
}
#breadcrumbs-one{
  background: rgba(225,225,225,.1);
  border: 3px solid rgba(225,225,225,.1);
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
   width: -webkit-fit-content;
  float: right;
  width: -moz-fit-content;
}

#breadcrumbs-one li{
  float: left;
  list-style: none;
}

#breadcrumbs-one a{
  padding: .4em 1.3em .4em 2.3em;
  float: left;
  text-decoration: none;
  color: #fff;
  position: relative;
  background-color: #69D2E7;
  font-size: 13px;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
  color: #fff;
}

#breadcrumbs-one a:hover{
  background: #39D2E7;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #69D2E7;  
}
.current {
  color: #535353 !important;
}
#breadcrumbs-one a::before{
  border-left-color: transparent;  
  right: -1.1em;
  z-index: 1; 
}
#breadcrumbs-one a:hover::after{
  border-left-color: #39D2E7;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}
#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}
.last {
  margin-right: 30px;
}

section.top-nav {
  display: inline-block;
  float: right;
   background: #fff;
  height: auto;
  overflow: visible;
  margin-left: 15px;
  border: 1px solid #eee;
    margin-top: -5px;
}
.top-nav li {
  list-style:none;
  float: left;
  display: inline;
  padding: 6px 6px 20px 10px;
  border-left: 1px solid #eee;
    height: 20px;
}
.top-nav li:hover {

background-color: #103184;
color:#FFF;
}

.top-nav li:hover a{
  color: #FFF;
}

.top-nav li:active {
  background: #fafafa;
  box-shadow: -4px 0 7px -2px rgba(0,0,0,.1) inset,inset 4px 0 7px -2px rgba(0,0,0,.1);
}
.top-nav li:first-child{border:none}
.top-nav li a {
  text-decoration: none;
  color: #6F6F6F;
  font-weight: 400;
}

span.rednum {
  background: #FF1821;
  color: #fff;
  z-index: 1;
  font-weight: 600;
  padding: 3px 6px 3px 6px;
  box-shadow: 0 2px 3px rgba(0,0,0,.2), inset 0 2px 5px rgba(225,225,225,.3);
  font-size: 11px;
  margin-left: 5px;
  position: relative;
  display: inline-block;
  top: -3px;
}

nav.nav {
  list-style:none;
  margin-left: 45px;
  margin-top: 20px;
  float: left;
}
nav.nav li {
  width: 35px;
  height: 35px;
  margin-bottom: 45px;
  
}
nav.nav li a {
font-size: 13px;
  text-decoration:none;
  color: #bbb;
  

}

nav.nav li:nth-child(2) {
  background-position: 0 -70px;
}
nav.nav li:nth-child(3) {
  background-position: 0 -140px;
}
nav.nav li:nth-child(4) {
  background-position: 0 -210px;
}
nav.nav li:nth-child(5) {
  background-position: 0 -280px;
}
nav.nav li:nth-child(6) {
  background-position: 0 -350px;
}
nav.nav li:nth-child(7) {
  background-position: 0 -420px;
}
nav.nav li:nth-child(8) {
  background-position: 0 -490px;
}

@media only screen and (min-width: 750px) {
.fluid {
    margin-top: 49px;

}
section.notification {
  float: right;
  display:inline;
}

}